<section fxLayout="column" fxLayoutAlign="center center" *ngIf="!editMode">
  <h1>My To Do List</h1>
  <form [formGroup]="todosForm" (ngSubmit)="onAddTodo(todosForm.value.todo)">
    <mat-form-field>
      <input matInput type="text" placeholder="Add something to do" formControlName="todo" autocomplete="off">
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary"><mat-icon>add</mat-icon></button>

  </form>

    <ul fxLayout="column" fxLayoutAlign="center center">

      <mat-card *ngFor="let todo of todos">

      <mat-checkbox class="check-button" (click)="onCheck(todo)">
      <p>{{ todo.text }}</p>
      </mat-checkbox>

        <button mat-icon-button class="delete-button" color="warn" (click)="onDeleteTodo(todo)"><mat-icon class="icons">delete</mat-icon></button>
        <button mat-icon-button class="edit-button" color="primary" (click)="onEditTodo(todo)"><mat-icon class="icons">edit</mat-icon></button>
      </mat-card>

    </ul>

    <p *ngIf="nothingTodo">Nothing to do</p>

</section>

<section class="edit-section" fxLayout="column" fxLayoutAlign="center center" *ngIf="editMode">
  <h1>Editing Todo</h1>

  <mat-card class="edit-form">
    <form [formGroup]="editTodoForm" (ngSubmit)="onSubmitEditForm()">
      <mat-form-field class="edit-input">
        <input matInput type="text" formControlName='text'>
      </mat-form-field>
      <div>
        <button type="submit" mat-raised-button color="primary">Save</button>
        <div class="divider"></div>
        <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      </div>
  </form>
  </mat-card>

</section>
