
:host {
  text-align: center;
}

  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }

  mat-card {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }

button {
  img {
      width: 1.25em;
  }
}

.server-error {
  margin: 8px 0;;
}

input {
  height: 2em;
  div.mat-form-field-infix {
    padding: .3em 0;
    input.mat-input-element {
      vertical-align: top;
    }
  }
}

div.mat-form-field-wrapper{
  padding-bottom: 1.15em;
}

@media (max-width: 500px) {
  mat-card {
    min-width: 100px;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
  }

  mat-form-field {
    width: 300px;
    margin-bottom: 16px;
  }
}
